.customLogin{
    max-width: 650px;
    margin-top: 60px;
    background-color: white;
    padding: 24px;
    border-radius: 26px;
    margin-bottom: 100px;


}
.bg-image{
    background: url('../../assets/img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    overflow: hidden;
    width: 101%;
}
.link{
    font-weight: bold;
    color: blue
}