<div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" *ngIf="authenticated">
                <div *ngIf="authenticated">
                        <h1 class="display-4 font-italic">{{userDeatils.login}}</h1>
                            <h1 class="display-4 font-italic">Role: &nbsp;{{userDeatils.authorities}}</h1>


            </div>
 
                 <!-- <div class="col-md-6 px-0">
                 <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                  <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                  <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
                </div> -->
        </div> 
        <!-- <div class="" *ngFor="let covid of covidDetails">
                <span>{{covid.country}}</span>
        </div> -->
<h3>
       <br> COVID-19 Coronavirus Statistics

</h3>
        <table class="table table-success">
                <thead>
                  <tr>
                      
                        <th>country Name</th>
                        <th>confirmed</th>
                        <th>deaths</th>
                        <th>recovered</th>
                        <th>last update </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let covid of covidNumb let i=index">
                       
                        <td>{{covid.country}}</td>
                        <td>{{covid.cases.total}}</td>
                        <td [ngClass]='{"table-danger":covid.deaths.total>0}'>{{covid.deaths.total}}</td>
                        <!-- <td [ngClass]='{"table-danger":covid.deaths>0}'>{{covid.cases.active}}</td> -->
                        <td>{{covid.cases.recovered}}</td>
                        <td>{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</td>
                </tr>
                    </tbody>
        </table>
<h4><br>All over the world</h4>
        <table class="table">
                <thead>
                  <tr class="table-secondary">
                  
                    <th>country Name</th>
                    <th>confirmed</th>
                    <th>deaths</th>
                    <th>recovered</th>
                    <th class="time-disable-mobile">last update </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let covid of covidNumbAll let i=index">
                  
                    <td>{{covid.country}}</td>
                    <td>{{covid.cases.total}}</td>
                    <td [ngClass]='{"table-danger":covid.deaths.total>0,"bg-danger":covid.deaths.total>100 }'>{{covid.deaths.total}}</td>
                    <!-- <td [ngClass]='{"table-danger":covid.deaths>0}'>{{covid.cases.active}}</td> -->
                    <td>{{covid.cases.recovered}}</td>
                    <td class="time-disable-mobile">{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</td>
                    </tr>
                    </tbody>
        </table>
        
</div>
